.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.countries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 264px);
    gap: 4rem;
    justify-content: space-between;
}
