.navBar {
    background: var(--elevation-2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;

        .title {
            font-size: 1.5rem;
            font-weight: 800;
            line-height: 130%;
        }

        .toggleThemeButton {
            gap: 0.625rem;
            display: flex;
            align-items: center;

            cursor: pointer;
            background: none;
            border: none;
            color: inherit;
            text-transform: capitalize;
        }
    }
}
