:root {
    // -> Variáveis

    // Cores
    --blue-900: #111517;
    --blue-800: #202c37;
    --blue-700: #2b3945;

    --gray-700: #858585;
    --gray-300: #fafafa;
    --gray-100: #ffffff;

    // Cores que serão utilizadas como fundo
    --elevation-1: var(--gray-300);
    --elevation-2: var(--gray-100);
    --elevation-errorButton: var(--gray-700);

    // Cores que serão utilizadas nos textos
    --text-primary: var(--blue-900);
    --text-secondary: var(--gray-700);
    --text-error: var(--blue-700);
    --text-errorButton: var(--gray-100);

    // Outras variáveis
    --radius: 0.5rem;
}

[data-dark-theme] {
    --elevation-1: var(--blue-800);
    --elevation-2: var(--blue-700);

    --text-primary: var(--gray-100);
    --text-secondary: var(--gray-100);
    --text-error: var(--blue-100);
}

// --------------------------------------------

// ->Funções SASS

@function darker($color, $percent: 80) {
    @return mix(black, $color, $percent);
}

@function lighter($color, $percent: 80) {
    @return mix(white, $color, $percent);
}

// ---------------------------------------------

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px 'Nunito Sans', Arial, sans-serif;
    user-select: none;
}

input,
textarea {
    font-family: inherit;
}

img,
video {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

* {
    transition: background-color 0.6s ease;
}

body {
    background: var(--elevation-1);
    color: var(--text-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    /*
        Está classe vai deixar o elemento pai com
        uma largura maxima de 1278px e centralizado impedindo
        o alargamento em telas maiores. O '100% - 16px' apenas sera
        usado em telas menores deixando margens de 16px para cada lado
    */
    width: min(100% - 16px, 1278px);
    margin-inline: auto;
    position: relative;
}
