.countries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 264px);
    gap: 4rem;
    justify-content: space-between;
}

.country-card {
    border-radius: var(--radius);
    background: var(--elevation-2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07), 0px 3px 4px 0px rgba(0, 0, 0, 0.07);
    overflow: hidden;

    figure {
        background: var(--bgFlag) center center;
        width: 100%;
        margin: 0 0 0.5rem 0;
        height: 10rem;
        background-size: cover;
        border-bottom: thin solid #eee;
    }

    h3 {
        margin: 0 0 1rem 0;
    }

    .card-body {
        padding: 1rem;
    }
}
